NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_COGNITO_REGION=us-east-1
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_ilsyN1C5l
NEXT_PUBLIC_COGNITO_CLIENT_ID=dt8bhl59494ud7est1ib2l060
NEXT_PUBLIC_COGNITO_AUTHORITY=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_ilsyN1C5l
NEXT_PUBLIC_COGNITO_REDIRECT_URI=http://localhost:3000
NEXT_PUBLIC_COGNITO_LOGOUT_URI=http://localhost:3000
