DB_HOST=db
DB_PORT=3306
DB_NAME=cs251db
DB_USER=root
DB_PASSWORD=password123
ALLOWED_ORIGINS=http://localhost:3000
ENABLE_EMAIL_NOTIFICATION=false
JWT_SECRET_KEY=change-this-secret-in-env
JWT_EXPIRE_MINUTES=60
